@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: rgb(211, 209, 209);
}
header{
    background-color: rgb(170, 170, 170);
    width: 100%;
}
header h1{
    text-align: center;
    padding-bottom: 30px;
}
span#burguer{
    background-color: rgb(71, 71, 71);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
span#burguer:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}
menu{
    display: none;
}
menu ul{
    list-style-type: none;
}
menu ul li a {
    display: block;
    padding: 10px;
    background-color: rgb(116, 116, 116);
    text-decoration: none;
    text-align: center;
    color: white;
    
}
menu ul li a:hover{
    background-color: rgb(204, 204, 204);
    color: gray;
    transition: 0.3s;
}
main{
    width: 90vw;
    margin: auto;
    background-color: white;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
}
main h2{
    padding-bottom: 20px;
}
main p{
    text-align: justify;
    padding-bottom: 15px;
    text-indent: 30px;
}